
@import "bootstrap-sprockets" ;
@import "bootstrap" ;

.td-thumbnail {
  width: 300px;
  height: 150px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.photoblock {
  display: flex;
  margin: 10px;
}

.container {
  padding: 30px;
}

#photosedit {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#photosedit td {
  border: none;
  padding: 0;
}

#photosedit a {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  border: none;
  padding: 10px 50px;
  margin: 0 10px;
}
#photosedit a:hover {
  background-color: silver;
  text-decoration: none;
}

#nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  border-bottom: 1px solid grey;
}

#navright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#buttonsbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#newbutton a {
  padding: 5px 10px;
  margin: 10px;
  border: 1px solid silver;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  display: flex;
  text-decoration: none;
}

#newbutton a:hover {
  background-color: silver;
}